.events-page{
    display: flexbox;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* justify-content: space-evenly; */
}

.carousel-imgs{
    text-align: center;
    padding-left: 15rem;
}