.header{
    padding: 0.5rem;
    background-color: rgb(235, 196, 156);
    display: flexbox;
    cursor: pointer;
    /* height: 8rem; */
}

nav{
    /* padding: 30px, 15px; */
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: right;
}

.heading{
    margin-left: 7rem;
    margin-top: 2rem;
}

h1{
    font-size: 1.2rem;
    /* margin-top: 0.5rem; */
    text-align: left;
    margin-right: 4rem;
    /* display:inline-block; */
}


.links{
    padding-bottom: 20px;
    /* padding-top: -40px; */
    margin-right: 60px;
}

.links a{
    padding-right: 70px;
    padding-left: 70px;
}

@media only screen and  (min-width: 1024px) {
    .header  .links nav{
      display: flex;
    }
  
}