.header{
    padding: 1rem;
    background-color: bisque;
    /* display: flex; */
}

nav{
    /* padding: 30px, 15px; */
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: right;
}

.heading{
    margin-left: 3rem;
}

h1{
    font-size: 1.2rem;
    /* margin-top: 0.5rem; */
    text-align: left;
    margin-right: 4rem;
    /* display:inline-block; */
}


.links{
    justify-content:baseline;
}

 .links a{
    padding-right: 40px;
    padding-left: 40px;
}
