.header{
    padding: 0.5rem;
    background-color: rgb(235, 196, 156);
    /* display: flex; */
}

nav{
    /* padding: 30px, 15px; */
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: right;
}

.heading{
    margin-left: 3rem;
}

h1{
    font-size: 1.2rem;
    /* margin-top: 0.5rem; */
    text-align: left;
    margin-right: 4rem;
    /* display:inline-block; */
}


.links{
    padding-bottom: 20px;
    padding-top: -40px;
    margin-right: 60px;
}

.links a{
    padding-right: 40px;
    padding-left: 40px;
}

button{
    size: 5rem;
}