.footer-links a{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
    margin-top: 20px;

}

.footer-links{
    margin-top: 30px;
    margin-left: 15rem;
}

.address{
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 196, 156);
    padding: 40px;
}
.short{
    display: flex;
    margin-left: 20rem;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}