.App {
  text-align: center;
  justify-content: space-between;
  font-size: 1.5rem;
}


header {
  background-color: #f6f7f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(81, 6, 6);
}

.App-link {
  color: #fb6361;
  justify-content:space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a{
  padding: 2rem;
  color:rgb(51, 51, 3);
  justify-content:stretch;
  font-size: 2rem;
}