.App {
  text-align: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.home-page{
  word-wrap: break-word;
  font-size: 1.5rem;

}

nav{
  background-color: blanchedalmond;
  padding: 2rem;
  margin-bottom: 1rem;
}

footer{
  background-color: black;
  display:block;
  height: 120px;
}
